.vs/ASP_NET_MVC_5_with_Entity_Framework_Tutorial_for_Beginners/config
.vs/ASP_NET_MVC_5_with_Entity_Framework_Tutorial_for_Beginners/FileContentIndex
.vs
ASP_NET_MVC_5_with_Entity_Framework_Tutorial_for_Beginners/bin
ASP_NET_MVC_5_with_Entity_Framework_Tutorial_for_Beginners/obj
